/**
* @name edits
* @version Auto Update
* @description Edits i made
* @author Syntax Error
*/

/* radial status (currently bugged)
@import url("https://objectiveslayer.github.io/ComfyGray/addons/radial-status.css"); */

/* server Rings */
@import url(//objectiveslayer.github.io/ComfyGray/addons/server-rings.css);



/* User Controls Area.. Looks super cool. */
@import url(//objectiveslayer.github.io/ComfyGray/addons/user-controls.css);



.invisible-typing-button {
  display:none
}

.interactive-1vLZ_I .interactive-iyXY_x .linkButton-2NshQj {
  display: none !important
}

.members-3WRCEx {
  background: var(--background-secondary-alt);
}

.membersGroup-2eiWxl {
  background: var(--background-secondary);
  margin: 24px 8px 0 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: visible;
  padding: 20px 0;
}

.membersGroup-2eiWxl span {
  width: 85%;
  padding: 5px 0;
  border-bottom: thin solid var(--background-modifier-hover);
}

.member-2gU6Ar {
  margin: 0 8px 0 16px;
  border-radius: 0;
  background: var(--background-secondary);
}

.membersGroup-2eiWxl::before {
  content: "";
  display: block;
  position: absolute;
  top: -25px;
  width: 208px;
  height: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: var(--background-secondary);
}

.content-2a4AW9 > div[style="height: 0px;"] + .membersGroup-2eiWxl::before {
  display: none;
}

.title-3aDrFs {
  display: none;
}

.headerCellContent-iBms3e {
  display: none;
}

/* Account date 
.discordMemberCreatedAt-3htTfn {
  height: 24px;
  padding: 8px;
}
.discordMemberCreatedAtIconContainer-2NS-8S {
  padding: 0px;
  background-color: var(--background-tertiary);
}
.discordMemberCreatedAtText-18ZCAV>div{
  display: none;
}
.discordMemberCreatedAt-3htTfn>.discordMemberCreatedAtText-18ZCAV>h3{
  font-size: 16px;
  font-family: inherit;
  font-weight: 600;
  user-select: text;
}*/

  /*-----------------------------------*/
/*Blur Email and phone number */
  .children-1xdcWE .field-21XZwa:nth-child(2) .text-md-normal-304U3g,
.children-1xdcWE .field-21XZwa:nth-child(3) .text-md-normal-304U3g {
    filter: blur(5px);
}
.field-21XZwa:nth-child(2) .text-md-normal-304U3g:hover,
.field-21XZwa:nth-child(3) .text-md-normal-304U3g:hover {
    filter: blur(0);
}

/* Recolor Shit -------------------------------------------------------------- */

/* neon button */
:root{
  --color: #a486ee;
}
.lookFilled-yCfaCM, .lookOutlined-3yKVGo, .lookLink-15mFoz, .lookInverted-2mDUMi{
  --button-background: none;
  --button-text-color: #fff;
  --button-shadow: var(--color);
  --button-outline: var(--color);
  border: var(--color) .25em solid !important;
  border-radius: 1em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--color);
  box-shadow: inset 0 0 0.7em 0 var(--color), 0 0 0.7em 0 var(--color);
}
.lookFilled-yCfaCM:hover, .lookOutlined-3yKVGo:hover, .lookLink-15mFoz:hover, .lookInverted-2mDUMi:hover{
  --button-background: var(--color);
  --button-text-color: #fff;
  text-shadow: none;
  box-shadow: inset 0 0 1.25em 0 var(--color), 0 0 1.25em 0 var(--color);
}

/* Better Role Color */
.role-2TIOKu {
  transform: translate(0);
  overflow: hidden;
  --transparency: .4;
  border-radius: 5px;
}
.role-2TIOKu .roleRemoveIcon-387wKV {
  margin: 0;
  left: unset;
  transform: translate(50%,-50%);
}
.role-2TIOKu .roleRemoveButton-17oXnT {
  position: static;
}
.role-2TIOKu .roleCircle-3K9O3d:before {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: var(--transparency);
}

/* changes the color of Embeds    >>>> currently bugged, thx discord
:root{
  --embed-border-radius: 20px;
  }
  .embed-hKpSrO {
  border-radius: var(--embed-border-radius);
  }
  .embed-hKpSrO code{
  background: var(--background-secondary);
  }
  :root{
  --embed-line-width: 515px;
  }
  .embedWrapper-1MtIDg{
  }
  .embedFull-1HGV2S {
  
  border-left: calc(4px + var(--embed-line-width)) solid var(--background-accent);
  background: var(--background-secondary);
  }
  .grid-1aWVsE {
  margin-left: calc( -1 * var(--embed-line-width));
  z-index: 1;
  }
  .embedFull-1HGV2S:after, .embedFull-1HGV2S:before{
  content: "";
  height: 100%;
  width: var(--embed-line-width);
  position: absolute;
  top: 0;
  left: calc(-1 * var(--embed-line-width));
  }
  .embedFull-1HGV2S:after{
  background: linear-gradient(to right, transparent, var(--background-secondary));
  }
  .embedFull-1HGV2S:before{
  background: var(--background-secondary);
  opacity: .8;
  }
*/
/*Changes Yt, Insta, Spotify etc links to different colors*/
[href*="https://mega.io"],
[href*="https://mega.io"] {
    color:#ff1e00 !important;
    font-weight: 700;
}

[href*="nexusmods.com"],
[href*="nexusmods.com"] {
    color:#ff9900 !important;
    font-weight: 700;
}

[href*="gta5-mods.com"],
[href*="gta5-mods.com"] {
    color:#00ff2a !important;
    font-weight: 700;
}

[href*="youtu.be"],
[href*="youtube.com"] {
    color:#c4302b !important;
    font-weight: 700;
}

[href*="twitch.tv"] {
    color:#b700ff !important;
    font-weight: 700;
}
[href*="spotify.com"] {
    color:rgb(19, 185, 4) !important; 
    font-weight: 700;
}
[href*="discord.com/channels/"] {
    color:#4c4cdb !important;
}
[href*="discord.com/channels/"]::before {
    content:'Jump to Message : ';
    font-size:16px;
    font-weight:700;
    color: #4c4cdb;
}
[href*="reddit.com"] {
    color:#e05a0c !important; 
    font-weight: 700;
}
[href*="instagram.com/"]{
    background: -webkit-linear-gradient(80deg, rgb(255, 238, 0), rgb(255, 157, 11), #b700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
} 
[href*="twitter.com/"]{
    color:#00acee !important;
    font-weight: 700;
}
[href*="betterdiscord.app/"],
[href*="discord.gg/"] {
    color:#7289da !important;
    font-weight: 700;
}
[href*="github.com"]{
    color:#00f0a8 !important;
    font-weight: 700;
}

/* Removing buttons -------------------------------------------------------------- */

/** Remove Call button on user context menu */
#user-context-call {display:none;}

/* Remove Thread/TTS button */
#message-thread,
#message-tts,
#message-mark-unread {display: none;}

/*optional move padding from 'friends' button and actual list*/
.privateChannelsHeaderContainer-1UWASm{
  padding-top: 10px;
}

/* remove friend list's search bar */
.searchBarComponent-3N7dCG{
  display: none;
}

/* Hide Help Button */
.toolbar-3_r2xA a {display: none;}

/*Remove Add a server and Public Server Buttons*/
.tutorialContainer-2jwoiB, .tutorialContainer-2jwoiB+div { display: none;}

/*Remove help button*/
[href="https://support.discord.com"] {
  display: none;
}

/* Removes Follow banner on bottom of channels */
.wrapper-2SplAX {display: none;}

/* Removes Chatbox from channel that don't allow you to communicate */
  .channelTextAreaDisabled-1p2fQv, .channelTextAreaDisabled-1p2fQv > .scrollableContainer-15eg7h{
    animation: nochat .000001ms forwards; 
}

/* Remove small stream window
.pictureInPictureVideo-2puO2Q {
  display: none
}

/* Misc Edits -------------------------------------------------------------- */

  /* Member Shit -------------------------------------------------------------- */

      /* Group Title */
      .membersWrap-3NUR2t .membersGroup-2eiWxl {
        display: flex;
        align-items: center;
        height: 32px;
        line-height: 32px;
        margin: 4px 4px;
        padding: 0 10px;
        background: linear-gradient(to right, transparent, rgba(80, 80, 80, .2) 3%, transparent);
        color: #aaa;
    }

    /* Memberlist Wrapper */
    .container-2o3qEW {
         border-radius: 4px
}

    
/* Bigger about me section */
.clamped-2ZePhX{
  -webkit-line-clamp: 190; /*Maximum amount of characters as new lines, unset just breaks links*/
  max-height:112px;
  overflow-x: hidden;
  overflow-y:scroll;
}
.clamped-2ZePhX::-webkit-scrollbar {
width: 15px;
height: 15px;
}
.clamped-2ZePhX::-webkit-scrollbar-track {
border-radius: 10px; /*How round you want the scrollbar to be. 0 is square, 10px is round.*/
background-color: rgb(255 255 255 / 10%); /*Edit this to what color you want the track to be.*/
}
.clamped-2ZePhX::-webkit-scrollbar-thumb {
background: linear-gradient(45deg, #00aeff, #a68eff); /* Edit this to whatever color/colors you'd like*/
border-radius: 10px; /*How round you want the scrollbar thumb to be. 0 is square, 10px is round.*/ 
}

/* Blurrs Spoilers instead of the black box */
.spoilerText-27bIiA,
.spoilerText-27bIiA.hidden-3B-Rum {
    background-color: transparent !important;
}
.spoilerText-27bIiA.hidden-3B-Rum > .inlineContent-2YnoDy {
    opacity: 1 !important;
    filter: blur(3px);
    pointer-events: unset;
}

/*Makes names bold*/
.username-h_Y3Us {
  font-weight: bolder;
}

/* Replace Wandering Cubes Spinner with gif*/
span[class="inner-26JK4f"]:after {
  background-image: url('https://us-east-1.tixte.net/uploads/cdn.thekfcbandit.ca/boardt.gif');
  background-size: cover;
  display: inline-block;
  width: 32px; 
  height: 32px;
  content:"";
  }
  span[class="inner-26JK4f"] > *{
    display: none;
  }
  span[class="inner-1gJC7_"] > *{
    display: none;
  }
  span[class="inner-1gJC7_"] > *{
    display: none;
  }

/*More space-efficient settings layout*/
.sidebarRegion-1VBisG,
.sidebarRegionScroller-FXiQOh {flex: 0 0 auto;}
.contentColumnDefault-3eyv5o {max-width: unset;}

/*category containers*/
.containerDefault-3TQ5YN {
  margin-top: .2em;
  margin-bottom: .2em;
  padding: 0px !important;
  height: 1.4em !important;
  border: 1px solid RGBA(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: RGBA(0, 0, 0, 0.4);
}
/*channel containers*/
.content-1gYQeQ {
  background-color: RGBA(0, 0, 0, 0.1);
  border: 2px solid var(--background-tertiary);
  padding: 0px;
}
.iconItem-1EjiK0 {
  margin-left: 3px !important;
  padding: 0px 6px !important;
}
.mainContent-20q_Hp{
  padding: 0px 2px !important;
}
  
/* Rounded Context Menu */
.menu-1QACrS, .colorDefault-CDqZdO { 
  border-radius: 15px; 
}

/* Better Jump To Present Button */
[class*="jumpToPresentBar"] {
  display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
  display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
  position: absolute;
  z-index: 1;
  bottom: 24px;
  right: 22px;
  padding: 8px !important;
  height: auto;
  background-color: #5865F2;
  box-shadow: var(--elevation-high);
  border-radius: 100px;
  display: flex;
  font-size: 0px;
  color: transparent;
  transition: font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
  order: -1;
  margin: 0px;
  height: 24px;
  width: 24px;
  top: auto;
  margin-right: 0px;
  margin-left: 0px;
  color: #FFFFFF;
  transition: margin .6s;
}
[class*="jumpToPresentBar"]:hover > button {
  padding: 8px 18px !important;
  font-size: 14px;
  color: #FFFFFF;
  transition: font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
  margin-right: 2px;
  margin-left: -6px;
}

/* Channel Names Capitalized */
.channelName-3KPsGw {text-transform: capitalize}

/* offline tags in member list */
.offline-22aM7E .wrapper-1VLyxH > svg > foreignObject{mask:url(#svg-mask-avatar-status-round-32);}
.offline-22aM7E .wrapper-1VLyxH > svg > foreignObject::before {
content: "";
width: 10px;
height: 10px;
background-color: hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%);;
display: block;
right: 0px;
bottom: 0px;
position: absolute;
border-radius: 50%;
}
.offline-22aM7E .wrapper-1VLyxH > svg > foreignObject::after{
content: "";
width: 6px;
height: 6px;
background-color: var(--background-secondary-alt);
display: block;
right: 2px;
bottom: 2px;
position: absolute;
border-radius: 50%;
z-index: 999!important;
}
.offline-22aM7E{opacity: 1;}

/* edited text */
.timestamp-p1Df1m:not(.timestampInline-_lS3aK, .timestampVisibleOnHover-9PEuZS) time::after {
        content: " (" attr(aria-label) ")";
        color: var(--text-muted);
        font-size: 0.625rem;
        font-weight: 400;
        line-height: 1;
        text-transform: lowercase;
}
.edited-1v5nT8:not(.message-translate-indicator) {
    display: none;
}

/* No NOTE sections */
.bodyTitle-2Az3VQ:last-of-type,
.note-Go5ZP2,
.userInfoSection-2u2hir:not(.userInfoSection-2u2hir.colorStandard-21JIj7) .userInfoSectionHeader-2mYYun:last-of-type,
.note-3M15gE,
#user-context-note {
    display: none;
}

.rolesList-3uZoaa {
  gap: 8px;
}
.role-2TIOKu {
  margin: 0;
  height: auto;
  padding: 6px 8px;
  border-radius: 4px;
  gap: 4px;
  position: relative;
  overflow: hidden;
}
.role-2TIOKu:hover .roleCircle-1EgnFN {
  width: 100%;
  opacity: 1;
}
.role-2TIOKu:hover .roleCircle-1EgnFN:not(:empty) ~ .roleName-2ZJJYR {
  margin-left: 22px;
}
.roleCircle-1EgnFN {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  border-radius: 0;
  width: 85%;
  -webkit-mask: linear-gradient(90deg, black, transparent);
          mask: linear-gradient(90deg, black, transparent);
  filter: none;
  opacity: 0.3;
  justify-content: flex-start;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.15s ease;
}
.roleName-2ZJJYR {
  position: relative;
  margin: 0;
  transition: margin-left 0.15s ease;
}
.roleRemoveIcon-387wKV {
  width: 16px;
  height: 16px;
}

.unreadPill-3nEWYM{
  top: -6px;
}

 /* "Quote" style replied message */
 #app-mount .repliedMessage-3Z6XBG {
  position: absolute;
  top: 25px;
  left: 86px;
  background: var(--background-secondary);
  border: 1px solid var(--background-tertiary);
  width: fit-content;
  max-width: calc(60vw - 240px);
  margin-left: -5px;
  padding: 3px 5px;
  border-radius: 0 4px 4px 4px;
  box-sizing: border-box;
}
#app-mount .repliedMessage-3Z6XBG > div {
  position: relative;
  z-index: 1;
  
}
#app-mount .repliedMessage-3Z6XBG img.replyAvatar-sHd2sU {
  display: none;
  
}
#app-mount .repliedMessage-3Z6XBG img.emoji {
  display: inline;
  
}
#app-mount .repliedMessage-3Z6XBG .username-h_Y3Us {
  margin-right: 5px;
  
}
#app-mount .repliedMessage-3Z6XBG:before {
  content: none;
  
}
#app-mount .repliedMessage-3Z6XBG:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -4px;
  z-index: 0;
  width: 6px;
  height: 6px;
  border-radius: 0; 
  background: var(--background-secondary);
  border: 1px solid var(--background-tertiary);
  transform: skewX(45deg);
  border-bottom: none;
  border-right: none;
}
#app-mount .repliedMessage-3Z6XBG + .contents-2MsGLg .header-2jRmjb {
  margin-bottom: 32px;
  
}

/* Voice Pane
.panels-3wFtMD:not(:hover) .container-1zzFcN{
  overflow: hidden;
  transition: ease 0.5s;
  height: 0;
  padding: 0 8px 0 8px;
}
*/

/* Limits the height of codeblocks and adds a scrollbar */
.markup-eYLPri blockquote, .markup-eYLPri pre > code{
  max-height:150px; /*Change this to your height preference.*/
  overflow-x: hidden;
  overflow-y:scroll;
  }
  .markup-eYLPri blockquote::-webkit-scrollbar, .markup-eYLPri pre > code::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  }
  .markup-eYLPri blockquote::-webkit-scrollbar-track , .markup-eYLPri pre > code::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255 255 255 / 8%);/*Change this to your color choice or just remove it entirely.*/
  }
  .markup-eYLPri blockquote::-webkit-scrollbar-thumb, .markup-eYLPri pre > code::-webkit-scrollbar-thumb {
  background-color: rgb(13 81 239 / 70%); /*Change this to your color choice or just remove it entirely.*/
  border-radius: 10px;
  }
  .markup-eYLPri blockquote, .markup-eYLPri pre > code {
  max-width: 629px;
  }

/* Limits the height of codeblocks and adds a scrollbar */
.markup-eYLPri blockquote, .markup-eYLPri pre > code{
  max-height:150px; /*Change this to your height preference.*/
  overflow-x: hidden;
  overflow-y:scroll;
  }

  /* Auto-hide the guild list until hover 
:root {
    /* from 0.0 to 1.0
    --guildlist-show: 0;
    /* How much of the guild list appears unhovered 
    --guildlist-peek-unread: 1;
    --guildlist-peek-ping: 1;
    --guildlist-peek-selected: 1;
    --guildlist-peek-group-unread: 1;
}*/

/* Hide New Message Stuff When Unfocused */
/* Red New Message Bar */
html:not(.app-focused) .isUnread-3Lojb- {
  border-color: transparent
}
.isUnread-3Lojb- {
  transition: .15s
}

/* New Message Bar */
html:not(.app-focused) .newMessagesBar-1hF-9G {
  opacity: 0
}
.newMessagesBar-1hF-9G {
  transition: .15s
}

/* Revert user popout 1 */ 
#account.menu-1QACrS {
  width: 220px;
}
#account.menu-1QACrS .submenu-1apzyU[aria-activedescendant^="account-status-picker"] {
  max-width: 220px;
}
#account.menu-1QACrS .profileBody-3QbfPe {
  display:none;
}



/* Member list fix */
.membersGroup-2eiWxl::before {
  display: none
}




  /* -------------------------------------------------------------- */
