/**
* @name Nightwalker
* @version Auto Update
* @description Nightwalker Theme made by à¹–Î¶ÍœÍ¡ğ“ğ“²ğ“°ğ“±ğ“½ğ”€ğ“ªğ“µğ“´ğ“®ğ“»ğ“›ğ“¸Ê¦ê§‚#0001
* @author à¹–Î¶ÍœÍ¡ğ“ğ“²ğ“°ğ“±ğ“½ğ”€ğ“ªğ“µğ“´ğ“®ğ“»ğ“›ğ“¸Ê¦ê§‚#0001
*/

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');


/*role border is color of the role */
:root{
  --roles-roundness: 0; /* change the 0 to any other number if you want the roles to be fully round */

  --roles-roundness-calc: calc((var(--roles-roundness) + .21) * 25px);
 
  --rs-small-spacing: 5px;
  --rs-medium-spacing: 5px;
  --rs-large-spacing: 5px;
  --rs-small-width: 5px;
  --rs-medium-width: 7px;
  --rs-large-width: 7px;
  --rs-avatar-shape: 70%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;


  --background:    url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/background.jpg);    /* general background image                        */
  --backgroundsize:                cover;
  --transparencycolor:            0,0,0;        
  --transparencyalpha:            0.15;        
  --messagetransparency:         0.5;        
  --guildchanneltransparency:     0.15;        
  --memberlisttransparency:        0.0;        
  --accentcolor:                     190,78,180;
  --popout:                        var(--background);    
  --popoutsize:                    var(--backgroundsize);
  --popoutblur:                    var(--backgroundblur);
  --backdrop:                        rgba(0,0,0,0.85);    
  --backdropsize:                    var(--backgroundsize);
  --backdropblur:                    var(--backgroundblur);
  --version1_0_5:                    none;
}
.role-2TIOKu {
  transform: translate(0);
  border: 0;
  border-radius: var(--roles-roundness-calc);
}
.role-2TIOKu .roleRemoveIcon-387wKV {
  margin: 0;
  left: unset;
  transform: translate(50%,-50%);
}
.role-2TIOKu .roleRemoveButton-17oXnT{position: static}
.role-2TIOKu .roleCircle-3K9O3d:before {
  content: '';
  top: 0;left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background: inherit;
  border-radius: var(--roles-roundness-calc);
  border: 2px solid transparent;
  -webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
}

/* floating userpanel */
.panels-3wFtMD {
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border: 1px solid var(--background-secondary);
  border-radius: 20px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
}
/* better discord ontop */
.side-2ur1Qk>:where(.bd-sidebar-header,.bd-settings-tab,.bd-customcss-tab,.bd-plugins-tab,.bd-themes-tab,.pluginrepo-tab,.themerepo-tab,:where(.bd-themes-tab,.pluginrepo-tab,.themerepo-tab,.bd-customcss-tab)+.separator-2wx7h6){
  order: -1;
}

/* Messages Slide In Chat */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
.message-2CShn3 {
  animation: slide-up 0.4s ease;
}
